# Build output
/build/
/build-*/

# Packages made by cpack
/dist/

# Qt Creator
/.qtcreator/
CMakeLists.txt.user*

# The NDI SDK, as downloaded from ndi.video: not this repository's to publish (see README, NDI)
/third_party/ndi-sdk/
